@import "./lib.less";

.container {
  background: #C20C0C;
  .base-bg;
}
.logo {
  width: 120px;
  height: 30px;
  float: left;
  color: #fff;
}
.flip {
  display: flex; 
}
.flipIconWrap {
  display: flex;
  align-items: center;
  line-height: 1;
}
.flipIconItem {
  cursor: pointer;
  font-size: 24px;
  color: #fff;
}
.userInfo {
  display: flex;
  justify-content: flex-end;
}
.search {
  width: 240px;
  padding-left: 15px;
}